  <header class="d-flex justify-content-center mt-2">

<h2>Add an exercise to the database</h2>
</header>

  <main class="container my-5">
<div class="row justify-content-center">
        <aside class="d-flex justify-content-center col-12 px-0 m-0  ">
            <form action="/lessons/add" method="POST">
        {{!-- Title --}}
        <div class="input-group">
          <label for="title">Book Title</label>
          <input type="text" name="objective"  class="input-box"
            maxlength="100" value={{title}}>
        </div>
        {{!-- Author --}}
        <div class="input-group">
          <label for="title">Composer</label>
          <input type="text" name="objective"  class="input-box"
            maxlength="100" value={{title}}>
        </div>
        {{!-- Exercise Number --}}
          <div class="input-group">
          <label for="title">Exercise #</label>
          <input type="text" name="objective"  class="input-box"
            maxlength="100" value={{title}}>
        </div>
         {{!-- Primary Position --}}
          <div class="input-group">
          <label for="title">Primary Positions</label>
          <input type="text" name="objective"  class="input-box"
            maxlength="100" value={{title}}>
        </div>
         {{!-- Secondary Position --}}
          <div class="input-group">
          <label for="title">Secondary Positions</label>
          <input type="text" name="objective"  class="input-box"
            maxlength="100" value={{title}}>
        </div>
         {{!-- Primary Bowing --}}
          <div class="input-group">
          <label for="title">Primary Bowing</label>
          <input type="text" name="objective"  class="input-box"
            maxlength="100" value={{title}}>
        </div>
         {{!-- Secondary Bowing --}}
          <div class="input-group">
          <label for="title">Secondary Bowing</label>
          <input type="text" name="objective"  class="input-box"
            maxlength="100" value={{title}}>
        </div>
         {{!-- Musical Key --}}
          <div class="input-group">
          <label for="title">Key</label>
          <input type="text" name="objective"  class="input-box"
            maxlength="100" value={{title}}>
        </div>
         {{!-- Difficulty --}}
          <div class="input-group">
          <label for="title">Difficulty</label>
          <input type="text" name="objective"  class="input-box"
            maxlength="100" value={{title}}>
        </div>
         {{!-- Focus --}}
          <div class="input-group">
          <label for="title">Focus</label>
          <input type="text" name="objective"  class="input-box"
            maxlength="100" value={{title}}>
        </div>
         {{!-- Type--}}
          <div class="input-group">
          <label for="title">Type</label>
          <input type="text" name="objective"  class="input-box"
            maxlength="100" value={{title}}>
        </div>
        <input type="submit" value="Add Lesson" class="btn btn-reverse">
      </form>
    </div>
        </aside>



    </main>